
@model List<Superhero>

<h1>Superheros</h1>
<img src=
     "https://www.electric-shadows.com/wp-content/uploads/2020/08/The-Dark-Knight-Christian-Bale-batpod-racing.jpg"
     alt="Batman" height="200" width="auto">
@foreach (var Superhero in Model)
{

    <a asp-action="Details" asp-route-id="@Superhero.Id"><br>@Superhero.Name<br /></a>
    <a asp-action="Edit" asp-route-id="@Superhero.Id">Edit</a>

}
